html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Be Vietnam Pro', sans-serif;
    line-height: 1.6;
    font-size: 1rem;
    font-weight: 400;
    color: hsl(233, 8%, 62%);
    font-weight:700;
    &.noscroll {
        overflow: hidden;
    }
}

// background 
.background {
    position: absolute;
    overflow: hidden;
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    height: 2000px;
    display: flex;
    justify-content: center;
    z-index: -111;
    &__pattern {
        position: absolute;
        background-image: url(../images/bg-tablet-pattern.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center top;
        z-index: -1;
    }
    &__bg1 {
        width: 450px;
        height: 450px;
        transform: translateX(100px) translateY(-130px);
        @include breakpoint-up(large){
            width: 100%;
            height: 700px;
            transform: translateX(410px) translateY(-80px);
        }
    }
    &__bg2 {
        opacity: 1;
        width: 300px;
        height: 300px;
        transform: translateX(202px) translateY(530px);
        @include breakpoint-up(large) {
            width: 100%;
            height: 700px;
            transform: translateX(-810px) translateY(1125px);
        }
    }
}
// Flexbox
.flex {
    display: flex;
    &-jc-sb {
        justify-content: space-between;
    }
    &-jc-c {
        justify-content: center;
    }
    &-ai-c {
        align-items: center;
    }
}

// rest anctor links
a , a:visited , a:hover{
    text-decoration: none;
}

// button
button, .button {
    display: inline-block;
    color: white;
    padding: 0.75rem 2.0625rem;
    font-size: $font-sm;
    background-color: $brightRed;
    cursor: pointer;
    border-radius: 50px;
    font-weight: 700;
    box-shadow: 0px 3px 10px rgb(0,0,0,0.31);
    transition: opacity 200ms ease-in-out;
    &:hover {
        opacity: 0.7;
    }
}

// spacing 
.container {
    max-width: 69.5625rem;
    margin: 0 auto;
    &--px {
        padding-left: 1.5rem ;
        padding-right:1.5rem ;
    }
    &--pb {
        padding-bottom: 2.5rem;
        @include breakpoint-up(large) {
            padding-bottom: 3.5rem;
        };
    }
    &--py {
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
        @include breakpoint-up(large) {
            padding-top: 3.5rem;
            padding-bottom: 3.5rem;

        };
    }
    &--pall {
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
        padding-left: 1.5rem ;
        padding-right:1.5rem ;
        @include breakpoint-up(large) {
            padding-top: 3.5rem;
            padding-bottom: 3.5rem;
        };
    }
}
// fonts 
h1 , h2, h3 {
    line-height: 1.2;
    margin-top: 0;
    color: $darkBlue;
}
h2 {
    font-size: 1.875rem;
    @include breakpoint-up(medium) {
        font-size: 2.375rem;
    }
}

// visibility
.hide-for-mobile {
    @include breakpoint-down(medium) {
        display: none;
    }
}
.hide-for-desktop {
    @include breakpoint-up(large) {
        display: none;
    }
}