.outro {
    background-image: url(./images/bg-simplify-section-mobile.svg);
    background-repeat: no-repeat;
    background-position:left ;
    background-color: $brightRed;
    @include breakpoint-up(large){
        background-image: url(./images/bg-simplify-section-desktop.svg);
        background-position: bottom;
    }
    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding-top: 4.375rem;
        padding-bottom: 4.375rem;
        text-align: center;
        @include breakpoint-up(large) {
            flex-direction: row;
            text-align: left;
        }
        h3 {
            font-size: 2.625rem;
            margin-bottom: 1.5625rem;
            color: white;
            @include breakpoint-up(large) {
                margin: 0;
                width: 50%;
            }
        }
        .button {
            background-color: #fff;
            color: $brightRed;
        }
    }
}