.testimonials {
	&__content {
		display: flex;
		align-items: center;
		flex-direction: column;
   		text-align: center;
		margin: 4.375rem auto 3.125rem;
		
		h2 {
			margin-bottom: 0;
		}

		@include breakpoint-up(large) {
			margin: 4.9375rem auto 11.125rem;
		}
	}
	&__slider {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 15.9375rem;
		margin: 6.25rem auto 2.5rem;
		@include breakpoint-up(large) {
			align-items:flex-end;
			justify-content: flex-start;
			height: 18.125rem;
			overflow-x: scroll ;
			margin: 4.5625rem auto 2rem;
			
		};
	}
	&__card {
		position: absolute;
		top: 0;
		left: auto;
		right: auto;
		width: 90%;
		max-width: 31.25rem;
		height: 245rem;
		border-radius: 0.3125rem;
		text-align: center;
		background-color: hsl(0, 0%, 98%);
		flex-direction: column;
		padding-top: 3.75rem;
		display: none;
		animation: cardFade;
		animation-duration: 200ms;
		@include breakpoint-up(large) {
			display: flex;
			position: relative;
			flex: 1 0 auto;
			width: 33.75rem;
			height: 86%;
			&:not(:last-child) {
				margin-right: 2rem;
			}
		};
		&.active-card {
			display: flex;
		}
		img {
			position: absolute;
			height: 4.375rem;
			width: 4.375rem;
			top: -2.1875rem;
			left: 50%;
			transform: translateX(-50%);
		}
		// .name {

		// }
		p {
			font-size: 0.9rem;
			padding: 15px 25px;
		}
	}
	&__dots {
		@include breakpoint-up(large) {
			display: none
		};
		.dot {
			cursor: pointer;
			height: 0.625rem;
			width: 0.625rem;
			margin: 0 0.125rem 2.8125rem;
			background-color: #fff;
			border-radius: 50%;
			border: 0.125rem solid hsl(12, 88%, 59%);
			display: inline-block;
			opacity: 0.6;
			&.active {
				opacity: 1;
				background-color: hsl(12, 88%, 59%) ;
			}
			&:hover {
				opacity: 1;
				background-color: hsl(12, 88%, 59%) ;
			}
		}
	}

}