// Colors
// - Primary
$brightRed : hsl(12, 88%, 59%);
$darkBlue : hsl(228, 39%, 23%);
// - Neutral
$darkGrayishBlue : hsl(12, 88%, 59%);
$veryDarkBlue: hsl(233, 12%, 13%);
$veryPaleRed: hsl(13, 100%, 96%);
$varyLightGray: hsl(0, 0%, 98%);

// Fonts
$font-md :1rem ;
$font-lg : 2.375rem;
$font-sm : 0.6875rem;