.welcome {
    &__content {
        @include breakpoint-up(large){
            display: flex;
            justify-content: space-around;
            align-items: center;

        }
    }
    &__image {
        background-image: url(../images/illustration-intro.svg);
        width: 100%;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        height: 21rem;
    
        @include breakpoint-up(medium){
            height: 31.25rem;
            order: 2;
        }
       
    }
    &__text {
        text-align: center;
        padding-bottom: 1.375rem;
        @include breakpoint-up(medium){
            margin-top: 4.135rem;
            text-align: left;
            order: 1;
        }
        h1 {
            color: $darkBlue ;
            font-size: 2.5rem;
            @include breakpoint-up(large) {
            font-size:3.5625rem ;
            margin-bottom: 0;
            }  
        }
        p {
            margin-top: 0.875rem;
            margin-bottom: 2rem;
            @include breakpoint-up(large) {
                margin-top: 2.125rem;
                margin-top: 2.625rem;
                width: 62%;
            }
        }
    }

}