.testimonials {
	&__content {
		display: flex;
		align-items: center;
		flex-direction: column;
   		text-align: center;
		margin: 70px auto 50px;
		
		h2 {
			margin-bottom: 0;
		}
	}
	&__slider {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 255px;
		margin: 100px auto 40px;
		@include breakpoint-up(large) {
			align-items:flex-end;
			justify-content: flex-start;
			height: 290px;
			overflow-x: scroll ;
			margin: 73px auto 32px;
		};
	}
	&__card {
		position: absolute;
		top: 0;
		left: auto;
		right: auto;
		width: 90%;
		max-width: 500px;
		height: 245px;
		border-radius: 5px;
		text-align: center;
		background-color: hsl(0, 0%, 98%);
		flex-direction: column;
		padding-top: 60px;
		display: none;
		animation: cardFade;
		animation-duration: 200ms;
		@include breakpoint-up(large) {
			display: flex;
			position: relative;
			flex: 1 0 auto;
			width: 540px;
			height: 86%;
			&:not(:last-child) {
				margin-right: 32px;
			}
		};
		&.active-card {
			display: flex;
		}
		img {
			position: absolute;
			height: 70px;
			width: 70px;
			top: -35px;
			left: 50%;
			transform: translateX(-50%);
		}
		// .name {

		// }
		p {
			font-size: 0.9rem;
			padding: 15px 25px;
		}
	}
	&__dots {
		@include breakpoint-up(large) {
			display: none
		};
		.dot {
			cursor: pointer;
			height: 10px;
			width: 10px;
			margin: 0 2px 45px;
			background-color: #fff;
			border-radius: 50%;
			border: 2px solid hsl(12, 88%, 59%);
			display: inline-block;
			opacity: 0.6;
			&.active {
				opacity: 1;
				background-color: hsl(12, 88%, 59%) ;
			}
			&:hover {
				opacity: 1;
				background-color: hsl(12, 88%, 59%) ;
			}
		}
	}

}